body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    margin-block-end: 40px;
    text-align: center;
    font-weight: 300;
    color: #333;
    font-size: 36px;
    background-color: burlywood;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }


.btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.btn-group button {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 15px 20px;
    margin: 10px 0;
    cursor: pointer;
    width: 80%; 
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-group button:hover {
    background-color: #45a049;
    transform: scale(1.05); 
}


form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: left;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #d2691e;
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #b85c1d;
    transform: scale(1.02);
}



